button{ display: inline-block;
    height: 45px;
    width: 120px;
    padding: 15px 35px 35px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background: linear-gradient(#833ab4, #fd1d1d, #f6ef02);
    border: none;
    border-radius:5px;
    box-shadow: 0 9px #999;}

    button:active{
    background:linear-gradient(#833ab4, #1dfd6f, #f6ef02);
    box-shadow:none;}