@keyframes bounce {
 0%, 20%, 60%, 100% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
 }
 
 40% {
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 }
 
 80% {
 -webkit-transform: translateY(-10px);
 transform: translateY(-10px);
 }
}
.main  {
    margin: 70px 50px; 
    position: relative;
}
.item  {
    border: 2px solid black;
    position: absolute;
    background-color: khaki;
    width: 60px;
    height: 100px;
    border-radius: 5px;
}

.item2 {
    left: 50px;
}

.item3 {
    left: 100px;
}

.item4 {
    left: 150px;
}

.item:hover {
 animation: bounce 1s;
 background: content-box radial-gradient(crimson, skyblue);


} 
.item:hover p {
    display: none;